# IP Address of the WiZ Bulb
BULB_IP=192.168.1.7

# Azure App Registration details
CLIENT_ID=your_client_id_here
TENANT_ID=your_tenant_id_here

# Polling Configurations
POLL_FAST=5
POLL_SLOW=30
DEFAULT_BLINK_INTERVAL=0.7

# ── Quiet Hours Feature ───────────────────────────────────────────────────────
# Set ENABLE_QUIET_HOURS to True to stop polling and turn off the bulb during these times (usually off hours)
ENABLE_QUIET_HOURS=False
QUIET_HOURS_START=21:00
QUIET_HOURS_END=10:00
